*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}
.container {
  width: 420px;
  position: absolute;
}
nav {
  position: relative;
  display:inline-block;
  width: 75%;
  background-color: black;
}
.location {
  padding: 15px;
  background-color: #DCDCDC;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
  border-bottom-width: 2px;}
.location:hover {
  background-color: #C5C4C4;}
}
h1{
  font-size: 1em;
  font-weight: bold;
}
h3{
  font-size: .75em;
}
.restaurant-list{
  float: left;
}
.arrow {
 font-size: 10px;
 float: right;
 padding-top: 12px;
 padding-bottom: 12px;
}
.content {
 display: inline-block;
 line-height: 115%;
}
.arrow-left {
  font-size: 10px;
  padding: 12px;
}
